body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;  
}

#canvas {
    border: 1px solid black;
    
}
#score, #energy {
    text-align: center;
    font-size: 70px;
    font-family: 'Antic Slab', serif;
}

<<<<<<< HEAD
body {
    background-image: url("snake.jpeg"), url("paper.gif");
    background-repeat: no-repeat, repeat;
    background-color: green;
    background-size: cover; 
    height: 500px; /* You must set a specified height */
    background-position: center ; /* Center the image */

  }
=======
.hud {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dfdfff;
}
>>>>>>> 8ba55964380756911b233b2b9a5d6c4046e28ad6
