*{
  margin: 0px;
  padding:0px;
  text-decoration: none;
}
body
{
	background-image: url("img/background.jpg");
}
#esquerra
{
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  left:2%;
  width: 50%;
  height: 600px;
  background-color: black;
}
#dreta
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  width: 30%;
  padding: 100px 50px;
  background-color: black;
}
#mostraPosibilitats
{
  display: flex;
  justify-content: space-between;
}
.capsa
{
  position: absolute;
  left = 0;
  top= 0;
}
.capsaVerda
{
  width: 150px;
  height: 100px;
  background-color: green;
}
.capsaGroga
{
  width: 100px;
  height: 100px;
  background-color: yellow;
}
.capsaVermella
{
  width: 100px;
  height: 100px;
  border-radius: 180px;
  background-color: red;
}
form
{
  text-align: center;
  margin-top: 20px;
}
