html,body  {
  width:100%;
  height:100%;
  float:left;
}
* {
  padding:0;
  box-sizing: border-box;
  align: center;
  text-align:center;
  margin:0;
}
.header {
  position: fixed;
  top:0;
  padding: 0 20px;
  display:flex;
  align-items: center;
  box-sizing:border-box;
  width: 100vw;
  height: 20vh;
  background-color: purple;

}

#id {
  width: 20%;
}

#wrapper {
  position: relative;
}

img {
  position:absolute;
  top:0;
  left:0;
  padding:0;
  max-width: 25%;
  max-height: 25%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  @media (max-width: 650px) {
    margin: 0 auto;
  }
}


#logo {
  position: relative;
  height: 100px;
  position: relative;
  margin: 0 0 0 0;
}

#nav {
  position: absolute;
  top:0;
  right:10;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

li a {
  color: black;
}

video {
  margin: 0 auto;
  width:400px;
  height: 300px;
  clear: both;
}

@media (max-width: 450px) {
  video {
    width: 80%;
  }
}
