* {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
  height: 100%;
  box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.capcalera {
  width: 100%;
  height: 10%;
  background: black;
  color: white;
  text-align: center;
  line-height: 50px;
}

.paraula {
	margin: 3% auto;
	width: 90%;
	height: 20%;
	background: green;
	border: 2px solid black;
}

.lletra {
	margin: 5.5px;
	width: 7.5%;
	height: 80%;
	background-color: white;
	border: 1px solid black;
	float: left;
	align-items: center;
	border: 10px solid yellow;
	text-align: center;
	font-Size: 55px; 
	line-height: 100px;
}

.marcador {
	width: 35%;
	height: 40%;
	background-color: blue;
	margin: 0 auto;
	border: 2px solid black;
}

.seleccioLletra {
	width: 10%;
	height: 5%;
	background-color: yellow;
	text-align: center;
	line-height: 35px;
	position: absolute;
	top: 50%;
	left: 38%;
	border: 2px solid black;
}

.errors {
	width: 10%;
	height: 5%;
	background-color: yellow;
	text-align: center;
	line-height: 35px;
	position: absolute;
	top: 50%;
	right: 38%;
	border: 2px solid black;
}

.lletra-in {
	width: 10%;
	height: 20%;
	background-color: white;
	position: absolute;
	top: 58%;
	left: 38%;
	border: 2px solid black;
	text-align: center;
	font-size: 50px;
}

.numErrors {
	width: 10%;
	height: 20%;
	background-color: white;
	position: absolute;
	top: 58%;
	right: 38%;
	border: 2px solid black;
	text-align: center;
	font-size: 50px;
	line-height: 125px;
}

#l1 {
	display: block;
}
