.position {
  color: black;
  width: 50px;
  height: 50px;
  outline: 1px solid;
  float: left;
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-align:center;
}
body, html{
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}
.tabule {
  -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.51);
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.51);
  box-sizing: border-box;
  padding:0;
  position: absolute;
  top: 35%;
  left: 35%;
  align: center;
  width: 300px;
  height: 400px;
  /*display:grid;
  grid-gap: 0px 0px;
  grid-template-columns: repeat(6, 1fr);*/
}
