html,body  {
  width:100%;
  height:100%;
  float:left;
}
* {
  padding:0;
  box-sizing: border-box;
  align: center;
  text-align:center;
}
#header {
  padding: 10%;
  box-sizing:border-box;
  width: 100vw;
  height: 20vh;
  background-color: lightgreen;
  position: fixed;
  top:0;
}
